header {
  background-color: #120c0c;
  color: aliceblue;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  /* width: 10rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
li{
  margin: 1rem 1rem 0.5rem 1rem;
}

.logo{
  color: #f2eeee;
  display: flex;
  flex-direction: row;
  height:2rem;
  font-size: 1rem;
  font-weight: bold;
}

#org-name{
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}
#org-logo{
  height: 3rem;
  width: 2.4rem;
  padding-bottom: 9px;
}


.nav-link{
  color: #f1f1f1;
  text-decoration: none;
  list-style-type: none;
  font-size: large;
} 

 .nav-link.active {
  color: #dd2345;
}



.menu-item{
  display: flex;
  flex-direction: column;
  color: #e6e0e0;
  margin: 8rem;
  width: auto;
  height: auto;
  text-decoration: none;
  top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
  right: 1.2rem;
}


@media screen and (max-width: 768px) {
  .nav-link {
    display: none;
    list-style-type: none;
  }

  .menu-design{
    display: flex;
    flex-direction: column;
    }
  

  .menu-item {
    display: block;
    width: 25%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .menu-item:active{
    color: #f34c6a;
  }
} 


.bm-burger-button {
position: absolute;
width: 26px;
height: 20px;
right: 40px;
top: 24px;
}

.bm-burger-bars {
background: #f5f2f4;
}

.bm-menu {
background: #2c2b2c;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

.bm-menu-item {
display: inline-block;
margin-bottom: 10px;
color: #fff;
text-decoration: none;
transition: color 0.2s;
}

.bm-menu-item:hover {
color: #bdbdbd;
}

.bm-cross {
background: #aeabab;
}

@media screen and (min-width:768px) {
.menu {
  display: none;
  font-size: 24px;
}
}
 